@{
    ViewData["Title"] = "List";
}

<!--Table-->
<div class="row mt-2">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <h1 class="card-title mx-auto">Usuarios</h1>
                    <button class="btn btn-success" id="btnNew">+ Nuevo Usuario</button>
                </div>
                <hr/>
                <table class="table table-striped" id="tbList">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Correo Electrónico</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Teléfono</th>
                            <th>País de Residencia</th>
                            <th>Recibir Información</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtId" value="0" />

                <div class="mb-2">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="txtNombre" required />
                </div>

                <div class="mb-2">
                    <label>Apellido</label>
                    <input type="text" class="form-control" id="txtApellido" required />
                </div>

                <div class="mb-2">
                    <label>Correo Electrónico</label>
                    <input type="email" class="form-control" id="txtCorreo" required />
                </div>

                <div class="mb-2">
                    <label>Fecha de Nacimiento</label>
                    <input type="date" class="form-control" id="txtFechaNacimiento" required />
                </div>

                <div class="mb-2">
                    <label>Teléfono</label>
                    <input type="number" class="form-control" id="txtTelefono" />
                </div>

                <div class="mb-2">
                    <label>País de Residencia</label>
                    <select class="form-control" id="cbxPais" required>
                        <!-- Options will be dynamically populated -->
                    </select>
                </div>

                <div class="mb-2">
                    <label for="cbxRecibirInfo">¿Desea recibir información?</label>
                    <select class="form-control" id="cbxRecibirInfo" required>
                        <option value="true">Sí</option>
                        <option value="false">No</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/User.js"></script>
}